frameworks netstandard2.0, netcoreapp3.0
storage none
source https://api.nuget.org/v3/index.json

nuget FSharp.Core ~> 4.7.0
nuget System.Text.Json ~> 4.7.0
nuget Microsoft.AspNetCore.Http.Features ~> 3.1.0

nuget FsCheck.XUnit
nuget FsUnit.xUnit
nuget Microsoft.NET.Test.Sdk
nuget xunit
nuget xunit.runner.visualstudio

nuget Giraffe ~> 4.1.0

group FSharpFormattingBuild
  source https://api.nuget.org/v3/index.json

  nuget FSharp.Formatting
  nuget FSharp.Formatting.CommandTool
  // used in tutorial
  nuget Microsoft.AspNetCore.Http.Features ~> 3.1.0
  nuget Microsoft.Extensions.Primitives ~> 3.1.0


// [ FAKE GROUP ]
group Build
  source https://api.nuget.org/v3/index.json

  framework: netstandard2.0
  storage: none

  nuget Fake.Core.Target
  nuget Fake.DotNet.Cli
  nuget Fake.Core.ReleaseNotes
  nuget Fake.DotNet.AssemblyInfoFile
  nuget Fake.DotNet.FSFormatting
  nuget Fake.Core.Environment
  nuget Fake.Core.Process
  nuget Fake.IO.FileSystem
